<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar zonas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2>Nueva zona</h2>
    <form class="form-horizontal" action="#" th:action="@{/zona/add}"
          th:object="${zona}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nombreEspacioPublico">Espacio público:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombreEspacioPublico" th:field="*{nombreEspacioPublico}" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="capacidad">Capacidad:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="capacidad" min="1" th:min="1" th:field="*{capacidad}" />
            </div>
            <div class="error" th:if="${#fields.hasErrors('capacidad')}" th:errors="*{capacidad}"></div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Agregar zona</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>