<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Listado de reservas de la zona <b th:text="${zona}"></b> del espacio público <b th:text="${espacio_publico}"></b></h1>
    <div th:if="${#lists.isEmpty(reservas)}">
        No hay reservas hechas aún.
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(reservas)}">
        <thead>
        <tr>
            <th>Número de Reserva</th>
            <th>Hora acceso</th>
            <th>Hora salida</th>
            <th>Fecha acceso</th>
            <th>Fecha creación</th>
            <th>Número personas</th>
            <th>Estado</th>
            <th>DNI</th>
            <th>Hora inicio</th>
            <th>Hora fin</th>
            <th>Espacio público</th>
            <th>Zona</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reservas}">
            <td th:text="${reserva.numReserva}"></td>
            <td th:text="${reserva.horaAcceso}"></td>
            <td th:text="${reserva.horaSalida}"></td>
            <td th:text="${reserva.fechaAcceso}"></td>
            <td th:text="${reserva.fechaCreacion}"></td>
            <td th:text="${reserva.numPersonas}"></td>
            <td th:text="${reserva.estado}"></td>
            <td th:text="${reserva.dni}"></td>
            <td th:text="${reserva.inicioFranjaHoraria}"></td>
            <td th:text="${reserva.finFranjaHoraria}"></td>
            <td th:text="${reserva.espacioPublico}"></td>
            <td th:text="${reserva.zona}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'ciudadano') and
            #strings.equals(reserva.estado, 'pendienteUso')}">
                <a th:href="@{/reserva/update/{numReserva}(numReserva=${reserva.numReserva})}" class="btn btn-warning" role="button">Editar</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'ciudadano') and
            #strings.equals(reserva.estado, 'pendienteUso')}">
                <a th:href="@{/reserva/delete/{numReserva}/{zona}/{nombre}(numReserva=${reserva.numReserva}, zona=${zona}, nombre=${espacio_publico})}"
                   class="btn btn-danger"
                   role="button">Cancelar</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor') and
             #strings.equals(reserva.estado, 'pendienteUso')}">
                <a th:href="@{/reserva/delete/{numReserva}/{zona}/{nombre}(numReserva=${reserva.numReserva}, zona=${zona}, nombre=${espacio_publico})}"
                   class="btn btn-danger" role="button">Cancelar</a>
            </td>
<!--            <div class="loggeduser" th:object="${session}">-->
<!--                <div th:if="*{user == null}">-->
<!--                    <p>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div th:unless="*{user} == null">-->
<!--                    <div th:if="${#strings.equals(session.user.rol, 'ciudadano')}">-->
<!--                        <div th:if="${#strings.equals(reserva.estado, 'PENDIENTE_USO') or #strings.equals(reserva.estado, 'EN_USO')}">-->
<!--                            <td> <a th:href="@{/reserva/update/{id}(id=${reserva.numReserva})}" class="btn btn-warning" role="button">Editar</a></td>-->
<!--                        </div>-->
<!--                        <div th:if="${#strings.equals(reserva.estado, 'PENDIENTE_USO')}">-->
<!--                            <td><a th:href="@{/reserva/delete/{id}(id=${reserva.numReserva})}" class="btn btn-danger" role="button">Cancelar</a></td>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div th:unless="${#strings.equals(session.user.rol, 'ciudadano')}">-->
<!--                        <div th:if="${#strings.equals(reserva.estado, 'PENDIENTE_USO') or #strings.equals(reserva.estado, 'EN_USO')}">-->
<!--                            <td><a th:href="@{/reserva/delete/{id}(id=${reserva.numReserva})}" class="btn btn-danger" role="button">Cancelar</a></td>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </tr>
        </tbody>
    </table>
    <p th:if="${session.user != null and #strings.equals(session.user.rol, 'ciudadano') and not #strings.equals(zona, '')}">
        <a th:href="@{/reserva/add/{zona}/{espacio}(zona=${zona}, espacio=${espacio_publico})}"
           class="btn btn-success" role="button">Agregar reserva</a>
    </p>
    <p th:if="${session.user != null and #strings.equals(session.user.rol, 'ciudadano') and #strings.equals(zona, '')}">
        <a th:href="@{/reserva/add/}"
           class="btn btn-success" role="button">Agregar reserva</a>
    </p>

    <p>
        <a class="btn btn-link" href="/">Volver a la página de inicio</a>
    </p>
</div>
</body>
</html>