<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">SANA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="añadirMunicipios.html">Datos de los gestores <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="añadirServicios.html">Añadir servicios</a>
            <a class="nav-item nav-link" href="datosGestores.html">Añadir municipios</a>
            <a class="nav-item nav-link active" href="listaEspacios.html">Lista de Espacios</a>
        </div>
    </div>
</nav>


</body>
</html>