<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">SANA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="añadirMunicipios.html">Datos de los gestores <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active">Añadir servicios</a>
            <a class="nav-item nav-link" href="datosGestores.html">Añadir municipios</a>
            <a class="nav-item nav-link" href="listaEspacios.html">Lista de Espacios</a>
        </div>
    </div>
</nav>

<div class="row justify-content-end p-3 m-2">
    <p class="col-sm-2">Autenticado como Responsable</p>
    <button type="submit" class="btn btn-primary col-sm-1">Salir</button>
</div>
<div class="form-group justify-content-center row">>
    <h2 class="row justify-content-center">Nuevo Servicio</h2>


</div>
<div class="form-group container p-3 border ">
    <form class="form-horizontal" action="#" th:action="@{/controlador/añadirServicios}"
          th:object="${controlador}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
            </div>
            <label class="control-label col-sm-2" for="fechaini">Fecha inicio contrato:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="fechaini" th:field="*{fechaini}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="tipo">Tipo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="tipo" th:field="*{tipo}" />
            </div>
            <label class="control-label col-sm-2" for="fechafin">Fecha fin contrato:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="fechafin" th:field="*{fechafin}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="lugar">Lugar:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="lugar" th:field="*{lugar}" />
            </div>
            <label class="control-label col-sm-2" for="horaini">Hora inicio contrato:</label>
            <div class="col-sm-4">
                <input type="time" class="form-control" id="horaini" th:field="*{horaini}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
            <div class="col-sm-4">
                <input type="textarea" class="form-control" id="descripcion" th:field="*{descripcion}" />
            </div>
            <label class="control-label col-sm-2" for="horafin">Hora fin contrato:</label>
            <div class="col-sm-4">
                <input type="time" class="form-control" id="horafin" th:field="*{horafin}" />
            </div>
        </div>


    </form>
</div>
<div class="row form-group justify-content-center">
    <button type="submit" class="btn btn-primary">Agregar ciudadano</button>
</div>

</body>
</html>