<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar comentarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de comentarios del espacio público <b th:text="${espacio_publico}"></b></h1>
    <div th:if="${#lists.isEmpty(comentarios)}">
        No hay comentarios registrados aún.
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(comentarios)}">
        <thead>
        <tr>
            <th>Comentario</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comentario: ${comentarios}">
            <td th:text="${comentario.descripcion}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">
                <a th:href="@{/comentario/delete/{id}/{nombre}(id=${comentario.id}, nombre=${espacio_publico})}"
                   class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${session.user != null}">
        <a th:href="@{/comentario/add/{nombre}(nombre=${espacio_publico})}" class="btn btn-success" role="button">
            Agregar comentario
        </a>
    </p>
    <p>
        <a class="btn btn-link" href="/">Volver a la página principal</a>
    </p>
</div>
</body>
</html>