<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <!-- app css  -->
    <link type="text/css" th:href="@{/css/espacios_naturales.css}" href="/css/espacios_naturales.css"
          rel="stylesheet"/>

    <title layout:title-pattern="$CONTENT_TITLE">Espacios naturales - Comunidad Valenciana</title>
</head>

<body class="container">
<header class="page-header">
    <h1>Espacios naturales de la Comunidad Valenciana</h1>
</header>
<div th:replace="fragments/navLoginPage"></div>
<div th:replace="fragments/logininfo"></div>
<div layout:fragment="content"></div>
<footer>
    <hr>
    <p class="text-muted">EI1027 - Disseny i Implementació de
        Sistemes d'Informació</p>
</footer>
</body>
</html>