<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div layout:fragment="content">
<!--Cambiar el nombre de este fichero a login_empleados-->
<div class="form-group justify-content-center row p-2">
    <h1 class="row justify-content-center">S.A.N.A.</h1>
</div>

<div class="form-group container p-3 border col-sm-3">
    <div class="form-group justify-content-center row p-2">
        <h2 class="row justify-content-center">Acceso Empleados</h2>
    </div>
    <form class="form-horizontal" action="#" th:action="@{/empleados}"
          th:object="${user}" method="post">

        <div class="from-group row p-2">
            <label class="control-label col-sm-3" for="usuario">Usuario:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="usuario" th:field="*{username}" />
            </div>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div class="from-group row p-2">
            <label class="control-label col-sm-3" for="password">Contraseña:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" th:field="*{password}" />
            </div>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="row form-group justify-content-center">
            <button type="submit" class="btn btn-primary">Acceder</button>
        </div>

    </form>
</div>
</div>
</body>
</html>
