<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">SANA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="responsable/datosGestores">Datos de los gestores <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="responsable/añadirServicios">Añadir servicios</a>
            <a class="nav-item nav-link" href="responsable/añadirMunicipios">Añadir municipios</a>
            <a class="nav-item nav-link" href="responsable/listaEspacios">Lista de Espacios</a>
        </div>
    </div>
</nav>

<div class="row justify-content-end p-3 m-2">
    <p class="col-sm-2">Autenticado como Gestor</p>
    <button type="submit" class="btn btn-primary col-sm-1">Salir</button>
</div>

</body>
</html>