<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Espacios Públicos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de espacios públicos</h1>
    <div th:if="${#lists.isEmpty(espaciosPublicos)}">
        No hay espacios públicos registrados aún.
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(espaciosPublicos)}">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Localización Geográfica</th>
            <th>Tipo Espacio</th>
            <th>Tipo Suelo</th>
            <th>Tipo Acceso</th>
            <th>Descripcion</th>
            <th>Longitud</th>
            <th>Anchura</th>
            <th>Orientación</th>
            <th>ID Municipio</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="espacioPublico: ${espaciosPublicos}">
            <td th:text="${espacioPublico.nombre}"></td>
            <td th:text="${espacioPublico.localizacionGeografica}"></td>
            <td th:text="${espacioPublico.tEspacio}"></td>
            <td th:text="${espacioPublico.tSuelo}"></td>
            <td th:text="${espacioPublico.tAcceso}"></td>
            <td th:text="${espacioPublico.descripcion}"></td>
            <td th:text="${espacioPublico.longitud}"></td>
            <td th:text="${espacioPublico.anchura}"></td>
            <td th:text="${espacioPublico.orientacion}"></td>
            <td th:text="${espacioPublico.idMunicipio}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">
                <a th:href="@{/espacioPublico/update/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-warning"
                   role="button">Editar</a>
            </td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">
                <a th:href="@{/espacioPublico/delete/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-danger"
                   role="button">Borrar</a>
            </td>
            <td>
                <a th:href="@{/espacios_servicios/list/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-info"
                   role="button">Ver servicios</a>
            </td>
            <td>
                <a th:href="@{/imagen/list/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-info"
                   role="button">Ver imágenes</a>
            </td>
            <td th:if="${#strings.equals(espacioPublico.tAcceso, 'restringido')}">
                <a th:href="@{/zona/list/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-info"
                   role="button">Ver zonas</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">
        <a href="add" class="btn btn-success" role="button">Agregar espacio público</a>
    </p>
    <p>
        <a class="btn btn-link" href="/">Volver</a>
    </p>
</div>
</body>
</html>