<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Imagenes</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de imágenes del espacio público <b th:text="${espacio_publico}"></b></h1>
    <div th:if="${#lists.isEmpty(imagenes)}">
        No hay imágenes disponibles.
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(imagenes)}">
        <thead>
        <tr>
            <th>Imagen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="imagen: ${imagenes}">
            <td><img th:src="${imagen.archivo}" alt="imagen"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>