<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Servicios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/espacios_naturales.css"
          th:href="@{/css/espacios_naturales.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de servicios</h1>
    <div th:if="${#lists.isEmpty(servicios)}">
        No hay servicios registrados.
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(servicios)}">
        <thead>
        <tr>
            <th>Supertipo</th>
            <th>Tipo de servicio</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio: ${servicios}">
            <td th:text="${servicio.supertipo}"></td>
            <td th:text="${servicio.tipo}"></td>
            <td th:text="${servicio.descripcion}"></td>
            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">
                <a th:href="@{/servicios/update/{tipo}/{supertipo}(tipo=${servicio.tipo}, supertipo=${servicio.supertipo})}"
                   class="btn btn-warning" role="button">Editar</a>
            </td>
<!--            <td th:if="${session.user != null and #strings.equals(session.user.rol, 'gestor')}">-->
<!--                <a th:href="@{/servicios/update/{tipo}/{supertipo}(tipo=${servicio.tipo}, supertipo=${servicio.supertipo})}"-->
<!--                   class="btn btn-warning" role="button">Asignar a espacio público</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>